<div class="container-fluid">
  <div class="col-md-8 col-sm-12 weather-box">
    <h4>Weather Forecast</h4>
    <input type="text" name="Address" id="location" placeholder="Enter city name or zip code"/>
    <button id="submit">Submit</button>
    <div id="loading">Fetching... please wait</div>
    <div id="forecast">
      <div id="temp"><span id="num"></span>&#176;F</div>
      <div id="details"></div>
      <div id="cached">This data has been retrieved from cache.</div>
    </div>
    <div id="error">
      An error has occurred.
    </div>
  </div>
</div>