<div class="container-fluid">
  <div class="col-md-8 col-sm-12 weather-box">
    <h4>Weather Forecast</h4>
    <input type="text" name="Address" placeholder="Enter address"/>
    <button id="submit">Submit</button>
    <div id="loading">Fetching...</div>
  </div>
</div>